/* 
    Created on : 07/03/2019, 21:56:35
    Author     : Henrique K. Secchi
*/

#hbox {
    -fx-background-color: #202730;
    -fx-border-color:  #414952 #202730 #202730 #202730;
    -fx-border-width: 2;
}

#panealgoritmos, #panecasosteste, #panemetodo {
    -fx-background-color: #414952;
    -fx-border-color: #de4726;
    -fx-border-radius: 5px;
}

#anchorpane {
    -fx-background-color: #303841;
}

#gridpane {
    -fx-border-color: #de4726;
}

#btAbrir, #btOrdenar, #btEmbaralhar, #btBuscarSolucao {
    -fx-background-color: #ff7045;
}

.jfx-radio-button {
    -jfx-selected-color: #ff7045;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #ff7045;
}

/*Botões da Tela Bandeira*/
.jfx-button
{
    -fx-background-color: #636B74;
}

#btAplicar, #btCancelar
{
    -fx-background-color: #ff7045;
}

/*Parte do Menu bar*/
.menu-bar{
  -fx-background-color: #202730;
}

.menu-bar .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
}

.context-menu
{
    -fx-background-color: #56555B;   
}